@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic&subset=latin-ext);

body {
    font-family: 'Lato', sans-serif;
    background: #fff;
}

.main {
    margin-left: 500px;
}