.padding-left {
    padding-left: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-bottom-x2 {
    padding-bottom: 20px;
}

.padding-bottom-x4 {
    padding-bottom: 40px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 300;
}