<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<p class="lead">
				Manage Xebia knowledge and skillz!
			</p>
		</div>
	</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Deleting your account</h4>
					</div>
					<div class="modal-body">
						Are you sure you want to delete your account ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Nop</button>
						<button type="button" class="btn btn-primary" data-ng-click="deleteAccount()">Sure</button>
					</div>
				</div>
			</div>
		</div>
</section>
