.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #6C1D5F 0%, #6C1D5F 100%);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #6C1D5F 0%, #6C1D5F 100%);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color:#FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}



/* Skills css */

.xebia-logo {
  float: left;
  margin-left: 20px;
}

.results a {
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		padding: 10px;
		display: block;
		text-decoration: none;
		margin-bottom: 10px;
		color: black;
}
.results a:hover {
		color: grey;
}

.results a div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.results a div.skill {
	display: block;
	vertical-align: middle;
	margin-left: 10px;
}

.results a p {
	margin: 0;
	display: block;
}
.results a img {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.level {
	display: inline-block;
}

.level div {
	width: 100px;
	margin: 25px auto;
}

.level span {
	font-size: 20px;
	color: #06A99C;
	cursor: pointer;
}

.level span:hover:before {
	content: "\2605";
	position: absolute;
	color: #06A99C;
}


.like {
	display: inline-block;
}

.like div {
	width: 100px;
	margin: 25px auto;
}

.like span {
	font-size: 30px;
	color: #06A99C;
	cursor: pointer;
}

.like span:hover:before {
	content: "\2665";
	position: absolute;
	color: #06A99C;
}
