@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}

}

.results a {
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		padding: 10px;
		display: block;
		text-decoration: none;
		margin-bottom: 10px;
		color: black;
		max-width: 300px;
}
.results a:hover {
		color: grey;
}

.results a div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.results a div.skill {
	display: block;
	vertical-align: middle;
	margin-left: 10px;
}

.results a p {
	margin: 0;
	display: block;
}
.results a img {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.results .remove {
	float: right;
}

.level {
	display: inline-block;
}

.level div {
	width: 100px;
	margin: 25px auto;
}

.like {
	display: inline-block;
}

.like div {
	width: 100px;
	margin: 25px auto;
}

.create-skill-form div {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.remove-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.user-picture{
	background-size: 32px 32px;
	border-radius: 50%;
	display: inline-table;
	margin-top: -1px;
	margin-right: 10px;
	height: 32px;
	width: 32px;
}

.skill-badge{
	background-color: #A0C3FF;
	background-color: rgba(160, 195, 255, 0.6);
	color: black;
	color: rgba(0, 0, 0, 0.67);
	margin-bottom: 5px;
}

.big-btn{
	border: 1px solid black;
	border: 1px solid rgba(0,0,0,.15);
	background-color: #F0F0F0;
}
