@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.result-item {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
  color: black;
  width: 300px;
}
.result-item:hover {
  color: grey;
  text-decoration: none;
}
.result-remove--link  {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.result-remove--link:hover {
  color: grey;
  text-decoration: none;
}
.result-element {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.result-element p {
  margin: 0;
  display: block;
}
.skill {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.result-portrait {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.remove,
.level,
.like {
  float: right;
}

.create-skill-form div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.remove-account-container {
  display: inline-block;
  position: relative;
}

.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}

.user-picture{
  background-size: 32px 32px;
  border-radius: 50%;
  display: inline-table;
  margin-top: -1px;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.skill-badge{
  background-color: #A0C3FF;
  background-color: rgba(160, 195, 255, 0.6);
  color: black;
  color: rgba(0, 0, 0, 0.67);
  margin-bottom: 5px;
}

.big-btn{
  border: 1px solid black;
  border: 1px solid rgba(0,0,0,.15);
  background-color: #F0F0F0;
}
