
.domain-name {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.domain {
    padding: 10px;
    margin-bottom: 5px;
}

.domain-Back {
    background-color: rgba(170, 38, 21, 0.3);
}

.domain-Cloud {
    background-color: rgba(6, 169, 156, 0.3);
}

.domain-Craft {
    background-color: rgba(175, 205, 55, 0.3);
}

.domain-Agile {
    background-color: rgba(215, 213, 208, 0.3);
}

.domain-Data {
    background-color: rgba(223, 0, 117, 0.3);
}

.domain-Devops {
    background-color: rgba(249, 155, 29, 0.3);
}

.domain-Front {
    background-color: rgba(0, 160, 212, 0.3);
}

.domain-Mobile {
    background-color: rgba(20, 71, 211, 0.3);
}

.skill-level-name {
    padding-left: 5px;
    font-weight: bold;
}

.skill-list {
    border: solid 1px lightgrey;
    border-radius: 3px;
    display: inline-block;
    min-width: 320px;
    vertical-align: top;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
}

.skill-level-name span {
    float: right;
}

.like {
    color: red;
}

.notlike {
    color: grey;
}

.expert-background {
    background-color: rgba(0, 255, 0, 0.1);
}

.confirmed-background {
    background-color: rgba(255, 115, 0, 0.1);
}

.rookie-background {
    background-color: rgba(255, 0, 0, 0.1);
}

.enthusiast-background {
    background-color: #EEEEEE;
}

.help-label {
    cursor: pointer;
    line-height: 30px;
}

#skill-help {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin-top: 10px;
    font-size: 0.9em;
}

#skill-help p {
    padding-left: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #333;
}

#skill-help ul {
    padding-left:10px;
    padding-right:10px;
}

#skill-help li {
    list-style: none;
    margin-bottom: 3px;
}

.skill-link {
    color: black;
}