<section data-ng-controller="UsersController">
    <div class="container">
        <h3><span style='background-image: url({{user.picture}});' class="user-picture"></span>{{user.displayName}}</h3>
        <div class="row" style="padding-bottom: 12px; padding-top: 16px;">
            <form ng-submit="associateSkill()" class="create-skill-form">
                <div>
                    <input type="text" class="form-control expanded" id="name" ng-model="newSkill" placeholder="Nouvelle compétence">
                </div>
                <div>
                    <rating class="turquoise bigger" ng-model="level" max="3" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                </div>
                <div>
                    <span class="turquoise glyphicon" ng-click="toggleLike()" ng-class="isLiked(like)"></span>
                </div>
                <div>
                    <button type="submit" class="btn big-btn" style="width: 100%;">
                        <i class="turquoise glyphicon glyphicon-plus"></i> Ajoute cette nouvelle compétence
                    </button>
                </div>
            </form>
        </div>
        <div id="results" class="results">
              <a href="#/user/{{xebian[0].data.email}}" ng-repeat="skill in skillz track by $index">
                <div class="info">
                  <p>{{skill.name}}</p>
                </div>

                <div class="level" ng-if="skill.level != undefined">
                  <rating class="turquoise bigger" ng-model="skill.level" max="3" readonly="true"></rating>
                </div>

                <div class="like" ng-if="skill.like == true">
                  <span class="turquoise glyphicon glyphicon-heart"></span>
                </div>
              </a>
        </div>
    </div>
</section>
