<section data-ng-controller="UsersController">
    <div class="container">
        <h3><span style='background-image: url({{user.picture}});' class="user-picture"></span>{{user.displayName}}</h3>
        <div class="row" style="padding-bottom: 12px; padding-top: 16px;">
            <form ng-submit="associateSkill()" class="form-inline">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="name" ng-model="newSkill" placeholder="Nouvelle compétence">
                </div>
                <div class="col-md-2">
                    level: 
                    <input type="number" class="form-control" id="level" ng-model="level" min="0" max="3">
                </div>
                <div class="col-md-2">
                    Like
                    <input type="checkbox" class="form-control" id="like" ng-model="like">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn big-btn" style="width: 100%;">
                        <i class="glyphicon glyphicon-plus"></i> Ajoute cette nouvelle compétence
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <div id="tags">
                <div class="col-md-2">
                    <span>Tes compétences :</span>
                </div>
                <div class="col-md-4">
                    <span ng-repeat="skill in skillz track by $index">
                        <span class='badge skill-badge'>
                            <span class='glyphicon glyphicon-remove' ng-click="removeRelation(skill[1].self)"/>
                            <span>{{skill[0].data.name}}</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
