<section data-ng-controller="SkillzController">
    <div class="container">
        <h3>Remove duplicates skills</h3>
        <form ng-submit="deduplicate()" class="create-skill-form">
	        <div class="row">
		        <div class="col-md-2">
		            Source 
		            <select ng-model="source" name="source" ng-options="skill[2].self as skill[0] for skill in skillz" />
		        </div>		
		        <div class="col-md-2">
					->
		        </div>		
		        <div class="col-md-2">
		            Destination 
		            <select ng-model="destination" name="destination" ng-options="skill[2].self as skill[0] for skill in skillz" />
		        </div>

		        <button type="submit" class="btn big-btn" style="width: 100%;">
                    <i class="turquoise glyphicon glyphicon-plus"></i> Fusion
                </button>
	       </div>		
        </form>
    </div>
</section>
