<section data-ng-controller="UsersController">
    <div class="container">
        <h3>
            <img ng-src="{{user.gravatar}}" class="user-picture">
            <span class="user-displayName">{{user.displayName}}</span>
            <experience-badge ally="user" style="float: right;"></experience-badge>
        </h3>
        <div class="row" style="padding-bottom: 12px; padding-top: 16px;">
            <form name="associateForm" ng-submit="associateSkill()" class="create-skill-form">
                <div>
                    <input 
                        type="text" 
                        maxlength="20" 
                        required 
                        class="form-control expanded" 
                        id="name" 
			            autocomplete="off"
                        ng-model="newSkill" 
                        placeholder="Nouvelle compétence"
                        typeahead="skill for skill in searchSkill($viewValue)">
                </div>
                <div>
                    <rating class="turquoise bigger" ng-model="level" max="3" on-hover="hoveringOver(value)" ng-click="setLevel()" on-leave="overStar = null"></rating>
                </div>
                <div>
                    <span class="glyphicon glyphicon-heart like" ng-click="toggleLike()" ng-show="like"></span>
                    <span title="J'aime beaucoup ?" class="glyphicon glyphicon-heart-empty notlike" ng-click="toggleLike()" ng-hide="like"></span>
                </div>
                <div>
                    <button type="submit" ng-disabled="!associateForm.$valid" class="btn big-btn" style="width: 100%;">
                        <i class="turquoise glyphicon glyphicon-plus"></i> Ajoute cette nouvelle compétence
                    </button>
                </div>
                <span ng-mouseover="help()" ng-mouseleave="help()" class="help-label"><i>Besoin d'aide ?</i></span>
            </form>
            <help ng-show="displayHelp"></help>
        </div>
        <div id="results" class="results">
            <div ng-repeat="skill in skillz | noDomain track by $index" class="result-item">
                <div class="like result-element">
                    <span class="glyphicon glyphicon-heart like" ng-click="updateLike(skill)" ng-show="skill.like"></span>
                    <span title="J'aime beaucoup ?" class="glyphicon glyphicon-heart-empty notlike" ng-click="updateLike(skill)" ng-hide="skill.like"></span>
                </div>
                <div class="info result-element">
                    <p><a class="skill-link" href="#!/skillz/search?query={{skill.name}}">{{skill.name}}</a></p>
                </div>
                <div class="remove result-element">
                    <a class='result-remove--link glyphicon glyphicon-remove' ng-click="removeRelation(skill.relationId)"></a>
                </div>
                <div class="level result-element" ng-if="skill.level != undefined">
                    <rating class="turquoise bigger" ng-model="skill.level" max="3" on-hover="hoveringOver(value)" ng-click="updateLevel(skill)" on-leave="overStar = null"></rating>
                </div>
            </div>
            <br/>
        </div>

        <domain label="back" skills="skillz"></domain>
        <domain label="mobile" skills="skillz"></domain>
        <domain label="agile" skills="skillz"></domain>
        <domain label="front" skills="skillz"></domain>
        <domain label="craft" skills="skillz"></domain>
        <domain label="data" skills="skillz"></domain>
        <domain label="devops" skills="skillz"></domain>
        <domain label="cloud" skills="skillz"></domain>
        <domain label="loisirs" skills="skillz"></domain>

    </div>
    <span class="user-lastupdate" ng-show="user.lastUpdate">Dernière mise à jour le {{user.lastUpdate | date:'dd/MM/yyyy à HH:mm'}}</span>
</section>
