<section data-ng-controller="UsersController">
    <div class="container">
        <h3><span style='background-image: url({{user.picture}});' class="user-picture"></span>{{user.displayName}}</h3>
        <div class="row" style="padding-bottom: 12px; padding-top: 16px;">
            <form name="associateForm" ng-submit="associateSkill()" class="create-skill-form">
                <div>
                    <input 
                        type="text" 
                        maxlength="20" 
                        required 
                        class="form-control expanded" 
                        id="name" 
			            autocomplete="off"
                        ng-model="newSkill" 
                        placeholder="Nouvelle compétence"
                        typeahead="skill for skill in searchSkill($viewValue)">
                    <i ng-show="loadingSkillz" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div>
                    <rating class="turquoise bigger" ng-model="level" max="3" on-hover="hoveringOver(value)" ng-click="setLevel()" on-leave="overStar = null"></rating>
                </div>
                <div>
                    <span class="glyphicon glyphicon-heart like" ng-click="toggleLike()" ng-show="like"></span>
                    <span class="glyphicon glyphicon-heart-empty notlike" ng-click="toggleLike()" ng-hide="like"></span>
                </div>
                <div>
                    <button type="submit" ng-disabled="!associateForm.$valid" class="btn big-btn" style="width: 100%;">
                        <i class="turquoise glyphicon glyphicon-plus"></i> Ajoute cette nouvelle compétence
                    </button>
                </div>

                <span ng-mouseover="help()" ng-mouseleave="help()" style="cursor: pointer;"><i>Besoin d'aide ?</i></span>

                <div id="skill-help" ng-show="displayHelp">
                    <p>
                        Aide-mémoire
                    </p>
                    <ul>
                        <li>
                            <rating class="turquoise bigger" ng-model="expertLevel" max="3" readonly="true"></rating>
                            Un(e) expert(e) qui met en pratique ou a mis en pratique quasi quotidiennement cette compétence. A fait des audits, des études de performances...
                        </li>
                        <li>
                            <rating class="turquoise bigger" ng-model="confirmedLevel" max="3" readonly="true"></rating>
                            Un(e) confirmé(e) qui pratiqué sur un ancien projet.
                        </li>
                        <li>
                            <rating class="turquoise bigger" ng-model="rookieLevel" max="3" readonly="true"></rating>
                            Un(e) débutant(e) qui utilisé cette compétence sur un projet personnel ou a assisté/préparé un XKE.
                        </li>
                        <li>
                            <rating class="turquoise bigger" ng-model="enthusiastLevel" max="3" readonly="true"></rating>
                            Un(e) enthousiaste qui ne connait pas du tout le sujet mais qui pourrait s'y intéresser.
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-heart like" style="float: initial; width: 42px;"></span>
                            Une grande envie d'être contacté(e) pour les sujets qui toucheraient à cette compétence.
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div id="results" class="results">
            <div ng-repeat="skill in skillz | noDomain track by $index" class="result-item">
                <div class="info result-element">
                    <p>{{skill.name}}</p>
                </div>
                <div class="remove result-element">
                    <a class='result-remove--link glyphicon glyphicon-remove' ng-click="removeRelation(skill.relationId)"></a>
                </div>
                <div class="like result-element">
                    <span class="glyphicon glyphicon-heart like" ng-click="updateLike(skill)" ng-show="skill.like"></span>
                    <span class="glyphicon glyphicon-heart-empty notlike" ng-click="updateLike(skill)" ng-hide="skill.like"></span>
                </div>
                <div class="level result-element" ng-if="skill.level != undefined">
                    <rating class="turquoise bigger" ng-model="skill.level" max="3" on-hover="hoveringOver(value)" ng-click="updateLevel(skill)" on-leave="overStar = null"></rating>
                </div>
            </div>
            <br/>
        </div>

        <domain label="back" skills="skillz"></domain>
        <domain label="mobile" skills="skillz"></domain>
        <domain label="agile" skills="skillz"></domain>
        <domain label="front" skills="skillz"></domain>
        <domain label="craft" skills="skillz"></domain>
        <domain label="data" skills="skillz"></domain>
        <domain label="devops" skills="skillz"></domain>
        <domain label="cloud" skills="skillz"></domain>

    </div>
</section>
