<section data-ng-controller="ProfileController">
    <div class="container">
        <h3>
            <span style='background-image: url({{user.picture}});' class="user-picture"></span>{{user.displayName}}
            <a ng-href="mailto:{{user.email}}?cc={{user.manager.email}}&subject={{me.firstName}} a une proposition pour toi&body=Bonjour {{user.firstName}}" class="mailto"><i class="turquoise glyphicon glyphicon-envelope"></i></a>
            <i class="turquoise glyphicon glyphicon-credit-card" id="sales-card" ng-mouseover="salesCard()" ng-mouseleave="salesCard()"></i>
            <span class="user-manager">
                <i class="turquoise glyphicon glyphicon glyphicon-user" style="margin-right: 5px;" ng-show="user.manager"/>{{user.manager.displayName}}
            </span>
            <experience-badge experience="user.experience" style="float: right;"></experience-badge>
        </h3>

        <div id="results" class="results">
            <a href="#!/skillz/search?query={{skill.name}}" ng-repeat="skill in skillz | noDomain track by $index" class="result-item">
                <div class="like result-element">
                    <span class="glyphicon glyphicon-heart like" ng-show="skill.like"></span>
                    <span class="glyphicon glyphicon-heart-empty notlike" ng-hide="skill.like"></span>
                </div>
                <div class="info result-element">
                    <p>{{skill.name}}</p>
                </div>
                <div class="level result-element" ng-if="skill.level != undefined">
                    <rating class="turquoise bigger" ng-model="skill.level" max="3" readonly="true"></rating>
                </div>
            </a>
        </div>

        <sales-card xebian="user" skills="skillz" ng-show="displaySalesCard"></sales-card>

        <div>
            <div class="skill-list expert-background">
                <p class="skill-level-name">Expert(e) <rating class="turquoise bigger" ng-model="expertLevel" max="3" readonly="true"></rating></p>
                <div ng-repeat="skill in skillz | filter:{level:3} track by $index" class="result-item">
                    <skill-card skill="skill" ></skill-card>
                </div>
            </div>
        </div>

        <div>
            <domain label="back"    skills="skillz" readonly="true"></domain>
            <domain label="mobile"  skills="skillz" readonly="true"></domain>
            <domain label="agile"   skills="skillz" readonly="true"></domain>
            <domain label="front"   skills="skillz" readonly="true"></domain>
            <domain label="craft"   skills="skillz" readonly="true"></domain>
            <domain label="data"    skills="skillz" readonly="true"></domain>
            <domain label="devops"  skills="skillz" readonly="true"></domain>
            <domain label="cloud"   skills="skillz" readonly="true"></domain>
            <domain label="loisirs"   skills="skillz" readonly="true"></domain>
        </div>
    </div>
</section>
