<section data-ng-controller="ProfileController">
    <div class="container">
        <h3><span style='background-image: url({{user.picture}});' class="user-picture"></span>{{user.displayName}}</h3>
        
        <div id="results" class="results">
            <a href="#!/skillz/search?query={{skill.name}}" ng-repeat="skill in skillz | noDomain track by $index" class="result-item">
                <div class="info result-element">
                    <p>{{skill.name}}</p>
                </div>
                    <div class="like result-element">
                        <span class="glyphicon glyphicon-heart like" ng-show="skill.like"></span>
                        <span class="glyphicon glyphicon-heart-empty notlike" ng-hide="skill.like"></span>
                    </div>
                <div class="level result-element" ng-if="skill.level != undefined">
                    <rating class="turquoise bigger" ng-model="skill.level" max="3" readonly="true"></rating>
                </div>
            </a>
        </div>

        <domain label="back"    skills="skillz" readonly="true"></domain>
        <domain label="mobile"  skills="skillz" readonly="true"></domain>
        <domain label="agile"   skills="skillz" readonly="true"></domain>
        <domain label="front"   skills="skillz" readonly="true"></domain>
        <domain label="craft"   skills="skillz" readonly="true"></domain>
        <domain label="data"    skills="skillz" readonly="true"></domain>
        <domain label="devops"  skills="skillz" readonly="true"></domain>
        <domain label="cloud"   skills="skillz" readonly="true"></domain>
    </div>
</section>
