<div style="width:500px;">
    <div style="display:block; border: 1px solid black;">
        <div style="display:inline-block; width:50%; padding-left:5px; font-size: 20px;">
            <div>{{xebian.lastName}}</div>
            <div>{{xebian.firstName}}</div>
        </div>
        <div style="display:inline-block;">
            <div style="font-size: 20px;">{{xebian.experience}} ans</div>
            <div style="color: lightgrey; font-style:italic;font-size: 20px;">Disponibilité</div>
        </div>
    </div>

    <div style="border: 1px solid black; padding-left:5px; padding-top: 5px; padding-bottom: 5px; font-size: 15px;">{{xebian.manager.firstName}} {{xebian.manager.lastName}}</div>

    <div style="display:block; border: 1px solid black; padding-top: 5px; padding-bottom: 5px;">
        <div style="display:inline-block; width:50%; min-height: 200px;">
            <div style="padding-left:5px;" ng-repeat="skill in skills | orderBy:'domains' | filter:{like:true} track by $index ">
                <div style="width:60%; display:inline-block;">{{skill.name}}</div> <rating class="turquoise bigger" ng-model="skill.level" max="3"></rating> <span style="font-size:0.7em;">{{skill.domains[0]}}</span>
            </div>
        </div>
        <div style="display:inline-block; vertical-align: top;color: lightgrey; font-style:italic; font-size: 20px;">Pistes</div>
    </div>
</div>