<section data-ng-controller="UsersController">
    <div class="container">
        <div id="search" class="row" style="padding-bottom:12px; padding-top: 16px;">
            <form ng-submit="searchXebians()" class="form-inline">
                <div class="col-md-2">
                    <input type="text" class="form-control" id="xebian" ng-model="query"
                           ng-change="changingSearchXebians()" placeholder="Nom" placeholder="name">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn big-btn" style="width: 100%;">
                        Chercher un Xebian <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <table class="table" ng-if="!query">
            <tr>
                <th style="width:50px;"></th>
                <th>Xebian</th>
                <th style="width:100px;">Expérience</th>
            </tr>
            <tr ng-repeat="xebian in xebians | orderBy:'experience':reverse">
                <td>
                    <a ng-href="#!/user/{{xebian.email}}">
                        <img gravatar-src="'{{xebian.email}}'" class="user-picture" gravatar-size="40">
                    </a>
                </td>
                <td>
                    <a ng-href="#!/user/{{xebian.email}}">{{xebian.displayName}}</a>
                    <span ng-show="user.isManager">
                        <span class="user-lastupdate" ng-show="xebian.lastUpdate">Dernière mise à jour le {{xebian.lastUpdate | date:'dd/MM/yyyy à hh:mm'}}</span>
                    </span>
                </td>
                <td>
                    <experience-badge experience="xebian.experience"></experience-badge>
                </td>
            </tr>
        </table>

        <div id="results" class="row">
            <div class="col-md-5">
                <ul class="list-group">
                    <a class="list-group-item" ng-href="#!/user/{{xebian.email}}" ng-repeat="xebian in results">
                        <img gravatar-src="'{{xebian.email}}'" class="user-picture" gravatar-size="40">{{xebian.displayName}}
                        <experience-badge experience="xebian.experience"></experience-badge>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</section>