<section data-ng-controller="UsersController">
    <div class="container">
        <div id="search" class="row" style="padding-bottom:12px; padding-top: 16px;">
            <form ng-submit="searchSkillz()" class="form-inline">
                <div class="col-md-2">
                    <input type="text" class="form-control" id="skill" ng-model="query" ng-change="changingSearchSkillz()" placeholder="compétence">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn big-btn" style="width: 100%;">
                        Chercher une compétence <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div id="results" class="results">
              <div class="result" ng-repeat="xebian in results track by $index">
                <a ng-click="changeSearch(xebian.skillName)" class= "skill"> {{xebian.skillName}} </a>
                <a href="#!/user/{{xebian.email}}" >
                  <img src={{xebian.picture}}> </img>
                  <div class="info">
                    <p>{{xebian.firstName}}</p>
                    <p>{{xebian.lastName}}</p>
                  </div>
                  <div class="level">
                    <rating class="turquoise bigger" ng-model="xebian.level" max="3" readonly="true"></rating>
                  </div>
                  <div class="like">
                    <span class="turquoise glyphicon" ng-class="isLiked(xebian.like)"></span>
                  </div>
                </a>
              </div>
        </div>
    </div>
</section>
