<section data-ng-controller="UsersController">
    <div class="container">
        <div id="search" class="row" style="padding-bottom:12px; padding-top: 16px;">
            <form ng-submit="search()" class="form-inline">
                <div class="col-md-2">
                    <input type="text" class="form-control" id="skill" ng-model="query" placeholder="compétence">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn big-btn" style="width: 100%;">
                        Chercher une compétence <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div id="results" class="results">
              <a href="#/user/{{xebian[0].data.email}}" ng-repeat="xebian in results">
                <div class= "skill"> {{xebian[2].data.name}} </div>
                <img src={{xebian[0].data.picture}}> </img>
                <div class="info">
                  <p>{{xebian[0].data.firstName}}</p>
                  <p>{{xebian[0].data.lastName}}</p>
                </div>
                <div class="level">
	                <span>&#9733;<span>&#9733;<span>&#9734;</span></span></span>
                </div>
                <div class="like">
                  <span>&hearts;</span>
                </div>
              </a>
        </div>
    </div>
</section>
