<div class="result-item">
    <div class="info result-element">
        <p>{{skill.name}}</p>
    </div>
    <div class="remove result-element">
        <a class='result-remove--link glyphicon glyphicon-remove' ng-hide="readonly" ng-click="removeRelation(skill.relationId)"></a>
    </div>
    <div class="like result-element">
        <span class="glyphicon glyphicon-heart like" ng-click="updateLike(skill,this)" ng-show="skill.like"></span>
        <span class="glyphicon glyphicon-heart-empty notlike" ng-click="updateLike(skill)" ng-hide="skill.like"></span>
    </div>
    <div class="level result-element" ng-if="skill.level != undefined">
        <rating class="turquoise bigger" ng-model="skill.level" max="3" on-hover="hoveringOver(value)" ng-click="updateLevel(skill)" on-leave="overStar = null"></rating>
    </div>
</div>
