<style type="text/css">
    #tagcloud a {
        margin-right: 1em;
    }
</style>

<section data-ng-controller="SkillzController">
    <div class="container">
        <h3>Les compétences très appréciées par les Xebians</h3>
        <div id="love"></div>

        <h3>Les compétences avec un niveau d'expérience "Expert"</h3>
        <div id="level3"></div>

        <h3>Les compétences avec un niveau d'expérience  "Confirmé"</h3>
        <div id="level2"></div>

        <h3>Les compétences avec un niveau d'expérience "Débutant"</h3>
        <div id="level1"></div>

        <h3>Les compétences sans expérience mais intéressantes</h3>
        <div id="level0"></div>

        <h3>Les compétences tous niveaux confondus</h3>
        <div id="cloud"></div>
    </div>
</section>
