<style type="text/css">
    #tagcloud a {
        margin-right: 1em;
    }
</style>

<section data-ng-controller="SkillzController">
    <div class="container">
        <h3>Compétences tous niveaux confondus</h3>
        <div id="cloud"></div>

        <h3>Compétences appréciées par les Xebians</h3>
        <div id="love"></div>

        <h3>Compétences par nombre de Xebians expérimentés</h3>
        <div id="level3"></div>

        <h3>Compétences par nombre de Xebians confirmés</h3>
        <div id="level2"></div>

        <h3>Compétences par nombre de Xebians débutants</h3>
        <div id="level1"></div>

        <h3>Compétences par nombre de Xebians enthousiastes</h3>
        <div id="level0"></div>
    </div>
</section>
