<div id="skill-help">
    <p>
        Aide-mémoire
    </p>
    <ul>
        <li>
            <rating class="turquoise bigger" ng-model="expertLevel" max="3" readonly="true"></rating>
            Un(e) expert(e) qui met en pratique ou a mis en pratique quasi quotidiennement cette compétence. A fait des audits, des études de performances...
        </li>
        <li>
            <rating class="turquoise bigger" ng-model="confirmedLevel" max="3" readonly="true"></rating>
            Un(e) confirmé(e) qui pratiqué sur un ancien projet.
        </li>
        <li>
            <rating class="turquoise bigger" ng-model="rookieLevel" max="3" readonly="true"></rating>
            Un(e) débutant(e) qui utilisé cette compétence sur un projet personnel ou a assisté/préparé un XKE.
        </li>
        <li>
            <rating class="turquoise bigger" ng-model="enthusiastLevel" max="3" readonly="true"></rating>
            Un(e) enthousiaste qui ne connait pas du tout le sujet mais qui pourrait s'y intéresser.
        </li>
        <li>
            <span class="glyphicon glyphicon-heart like" style="float: initial; width: 42px;"></span>
            Une grande envie d'être contacté(e) pour les sujets qui toucheraient à cette compétence.
        </li>
    </ul>
</div>