<section data-ng-controller="SkillzController">
    <div class="container">

        <h3>Fusionner les compétences</h3>
        <form class="deduplicate-form" ng-submit="merge()">
            Remplacer
            <select ng-model="source" name="source" ng-options="skill.nodeId as (skill.name + ' (' + skill.count + ')') for skill in skillz" style="width: 100px;" />
            par
            <select ng-model="destination" name="destination" ng-options="skill.nodeId as (skill.name + ' (' + skill.count + ')') for skill in skillz" style="width: 100px;"/>
            <button type="submit" class="btn big-btn">
                Fusion <i class="turquoise glyphicon glyphicon-plus"></i>
            </button>
        </form>

        <h3>Associer aux domaines</h3>
        <form class="domaines-form" ng-submit="domainize()">
            Associer
            <select ng-model="skill" name="skill" ng-options="skill.nodeId as (skill.name + ' (' + skill.domains + ')') for skill in skillz" style="width: 100px;" />
            à
            <select ng-model="domain" name="domain" ng-options="d as d for d in domains" />
            <button type="submit" class="btn big-btn">
                Associer <i class="turquoise glyphicon glyphicon-plus"></i>
            </button>
        </form>

        <h3>Associer au diplôme</h3>
        <form class="diploma-form" ng-submit="diplomize()">
            <select ng-model="xebian" name="xebian" ng-options="xebian.email as (xebian.displayName + ' (' + xebian.experience + ')') for xebian in xebians | orderBy:'displayName'" style="width: 100px;" />
            a obtenu son diplome en
            <select ng-model="year" name="year" ng-options="d as d for d in years" />
            <button type="submit" class="btn big-btn">
                Valider <i class="turquoise glyphicon glyphicon-plus"></i>
            </button>
        </form>

        <h3 ng-show="orphanSkillz.length>0">Find and delete orphan skillz ({{orphanSkillz.length}} orphans)</h3>
        <div id="results" class="results">
            <div ng-repeat="skill in orphanSkillz" id="{{skill.nodeId}}" class="result-item">

                <div class="info  result-element">
                    <p>{{skill.name}}</p>
                </div>
                <div class="remove result-element">
                    <a class='result-remove--link glyphicon glyphicon-remove' ng-click="deleteSkill(skill.nodeId)"></a>
                </div>

            </div>
        </div>
    </div>
</section>
