<section data-ng-controller="SkillzController">
    <div class="container">
        <div id="search" class="row" style="padding-bottom:12px; padding-top: 16px;">
            <form ng-submit="searchSkillz()" class="form-inline">
                <div class="col-md-2">
                    <input type="text" class="form-control" id="skill" ng-model="query" ng-change="changingSearchSkillz()" placeholder="Compétence">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn big-btn" style="width: 100%;">
                        Chercher une compétence <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div id="results" class="results">
            <div ng-repeat="xebian in results track by $index" class="result-item">
                <div class= "skill--link" ng-click="findSkillByName(xebian.skillName)"> {{xebian.skillName}} </div>
                <a href="#!/user/{{xebian.email}}" class="user">
                    <img ng-src="{{xebian.picture}}" class="result-portrait" />
                    <div class="info result-element">
                      <p>{{xebian.xebianName}}</p>
                    </div>
                    <div class="like result-element">
                      <span class="turquoise glyphicon" ng-class="isLiked(xebian.like)"></span>
                    </div>
                    <div class="level result-element">
                      <rating class="turquoise bigger" ng-model="xebian.level" max="3" readonly="true"></rating>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
