<section data-ng-controller="SkillzController">
    <div class="container">
        <div id="search" class="row" style="padding-bottom:12px; padding-top: 16px;">
            <form ng-submit="searchSkillz()" class="form-inline">
                <div class="col-md-2">
                    <input type="text" class="form-control" id="skill" ng-model="query" ng-change="changingSearchSkillz()" placeholder="Compétence">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn big-btn" style="width: 100%;">
                        Chercher une compétence <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="results skill-list expert-background">
            <p class="skill-level-name">Expert(e)s <rating class="turquoise bigger" ng-model="expertLevel" max="3" readonly="true"></rating></p>
            <div ng-repeat="xebian in results | filter:{level:3} track by $index" class="result-item">
                <xebian-skill-card xebian="xebian" show-rating="false" ></xebian-skill-card>
            </div>
        </div>
        <div class="results skill-list confirmed-background">
            <p class="skill-level-name">Confirmé(e)s <rating class="turquoise bigger" ng-model="expertLevel" max="2" readonly="true"></rating></p>
            <div ng-repeat="xebian in results | filter:{level:2} track by $index" class="result-item">
                <xebian-skill-card xebian="xebian" show-rating="false" ></xebian-skill-card>
            </div>
        </div>
        <div class="results skill-list rookie-background">
            <p class="skill-level-name">Débutant(e)s <rating class="turquoise bigger" ng-model="expertLevel" max="1" readonly="true"></rating></p>
            <div ng-repeat="xebian in results | filter:{level:1} track by $index" class="result-item">
                <xebian-skill-card xebian="xebian" show-rating="false" ></xebian-skill-card>
            </div>
        </div>
        <div class="results skill-list enthusiast-background">
            <p class="skill-level-name">Enthousiastes <rating class="turquoise bigger" ng-model="expertLevel" max="0" readonly="true"></rating></p>
            <div ng-repeat="xebian in results | filter:{level:0} track by $index" class="result-item">
                <xebian-skill-card xebian="xebian" show-rating="false" ></xebian-skill-card>
            </div>
        </div>
    </div>
</section>
