<div class= "skill--link" ng-click="onClick(xebian.skillName)"> {{xebian.skillName}} </div>
<a href="#!/user/{{xebian.email}}" class="user">
    <img ng-src="{{xebian.gravatar}}" class="user-picture">
    <div class="info result-element">
        <p>
            <div class="like result-element">
                <span class="red glyphicon glyphicon-heart like" ng-show="xebian.like" ></span>
                <span class="red glyphicon glyphicon-heart-empty notlike" ng-show="!xebian.like" ></span>
            </div>
            {{xebian.displayName}}
        </p>
    </div>
    <experience-badge ally="xebian"></experience-badge>
    <brand-badge ally="xebian"></brand-badge>
    <div class="level result-element" ng-show="show-rating">
        <rating class="turquoise bigger" ng-model="xebian.level" max="3" readonly="true"></rating>
    </div>
</a>